#counterLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#container{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgba(146, 63, 219, 0.717);
    cursor: pointer;
    transition: background-color 0.25s;

}
.buttons:hover{
    background-color: rgb(132, 0, 255);
}
